* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  font-family: monospace;
}

h1,
h2,
h3,
h4 {
  font-family: Verdana;
}

.fancy {
  padding: 20px;
  text-align: center;
  background-color: lavender;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

section {
  margin-top: 35px;
}
