* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

html {
  font-family: monospace;
}

h1,
h2,
h3,
h4 {
  font-family: Verdana;
}

.fancy {
  padding: 20px;
  text-align: center;
  background-color: lavender;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

section {
  margin-top: 35px;
}

.nav {
  padding: 20px;
  color: blue;
}

.nav:hover {
  color: darkblue;
  background-color: rgb(234, 216, 222);
}

.nav:active {
  color: red;
  background-color: rgb(227, 203, 255);
}

section + section {
  border-top: 1px solid rgb(195, 195, 247);
}

::selection {
  background-color: lavender;
  color: blue;
}

.description::after {
  content: "🤟";
}
