/***************************************************/
/* General Styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  position: relative;
}

:root {
  font-family: inherit;
  font-size: 20px;
  --main-color: black;
  --Link-color: blue;
  --Link-second-color: red;
  --selection-color: lavender;
  --hover-color: darkblue;
  --hover-color2: rgba(255, 182, 149, 0.689);
  --gitter-animation-hover: rgba(255, 170, 149, 0.932);
}

h1,
h2,
h3,
h4 {
  font-family: Verdana;
}

/***************************************************/
/* Specific Styling */

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession-heading {
  font-size: 0.25em;
}

.header {
  padding: 4rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
  background: linear-gradient(
    rgba(255, 182, 149, 0.689),
    rgba(255, 255, 255, 0.294)
  );
}

.Footer {
  padding: 4rem;
  padding-top: 4rem;
  position: relative;
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.294),
    rgba(255, 182, 149, 0.689)
  );
}

.main {
  max-width: 100ch;
  margin: 0 auto;
  padding: 1rem;
  color: var(--main-color);
}

.nav-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav:hover {
  color: var(--hover-color);
  background-color: rgb(234, 216, 222);
}

.nav:active {
  color: var(--Link-second-color);
  background-color: rgb(227, 203, 255);
}

section + section {
  border-top: 1px solid rgba(255, 181, 149, 0.689);
}

::selection {
  background-color: var(--selection-color);
  color: var(--Link-color);
}

.content-wrapper::after {
  content: "🤟";
}

/***************************************************/
/* Animationen */

.Badge {
  background-color: rgba(112, 79, 118, 0.794);
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  font-family: Verdana;
  text-align: center;
  border: 3px solid var(--main-color);
  _transition: background-color 1s;
  transition: transform 1s, background-color 1s;
  transform-origin: 100% 0%;
}

.Badge:hover {
  background-color: var(--hover-color2);
  transform: scale(2);
}

#animation {
  transform-origin: 50% 40%;
  transition: background-color 2s;
  transition: 3s ease-in-out;
}

.nav {
  padding: 1rem;
  color: var(--Link-color);
  transition: background-color 1s ease-in-out;
}

.nav:focus {
  transition: var(--Link-second-color);
  outline-color: var(--Link-second-color);
  outline-style: dashed;
}

.gitter-animation {
  _border: 2px solid black;
  padding: 29px;
  border: solid 0pc salmon;
  transform-origin: 0px 50px;
  transition: background-color 1s ease-out, rotate 1.5s,
    border-width 0.5s ease-in, transform 1s ease-in;
}

.gitter-animation:hover {
  background-color: var(--gitter-animation-hover);
  border-width: 5px;
  rotate: 60deg;
  transform: scale(1.3);
}

div:nth-child(4) {
  position: absolute;
  top: 0px;
  left: 420px;
}

div:nth-child(5) {
  position: absolute;
  top: 0px;
  left: 0px;
}

div:nth-child(6) {
  position: absolute;
  top: 0px;
  left: 60px;
}

div:nth-child(7) {
  position: absolute;
  top: 0px;
  left: 120px;
}

div:nth-child(8) {
  position: absolute;
  top: 0px;
  left: 180px;
}

div:nth-child(9) {
  position: absolute;
  top: 0px;
  left: 240px;
}

div:nth-child(10) {
  position: absolute;
  top: 0px;
  left: 300px;
}

div:nth-child(11) {
  position: absolute;
  top: 0px;
  left: 360px;
}

div:nth-child(12) {
  position: absolute;
  top: 0px;
  left: 480px;
}
div:nth-child(13) {
  position: absolute;
  top: 0px;
  left: 540px;
}

div:nth-child(14) {
  position: absolute;
  top: 60px;
  left: 0px;
}

div:nth-child(15) {
  position: absolute;
  top: 60px;
  left: 60px;
}
div:nth-child(16) {
  position: absolute;
  top: 60px;
  left: 120px;
}
div:nth-child(17) {
  position: absolute;
  top: 60px;
  left: 180px;
}
div:nth-child(18) {
  position: absolute;
  top: 60px;
  left: 240px;
}
div:nth-child(19) {
  position: absolute;
  top: 60px;
  left: 300px;
}
div:nth-child(20) {
  position: absolute;
  top: 60px;
  left: 360px;
}
div:nth-child(21) {
  position: absolute;
  top: 60px;
  left: 420px;
}
div:nth-child(22) {
  position: absolute;
  top: 60px;
  left: 480px;
}
div:nth-child(23) {
  position: absolute;
  top: 60px;
  left: 540px;
}
div:nth-child(24) {
  position: absolute;
  top: 60px;
  left: 0px;
}

div:nth-child(25) {
  position: absolute;
  top: 120px;
  left: 0px;
}

div:nth-child(26) {
  position: absolute;
  top: 120px;
  left: 60px;
}

div:nth-child(27) {
  position: absolute;
  top: 120px;
  left: 120px;
}

div:nth-child(28) {
  position: absolute;
  top: 120px;
  left: 180px;
}

div:nth-child(29) {
  position: absolute;
  top: 120px;
  left: 240px;
}

div:nth-child(30) {
  position: absolute;
  top: 120px;
  left: 300px;
}

div:nth-child(31) {
  position: absolute;
  top: 120px;
  left: 360px;
}

div:nth-child(32) {
  position: absolute;
  top: 120px;
  left: 420px;
}

div:nth-child(33) {
  position: absolute;
  top: 120px;
  left: 480px;
}

div:nth-child(34) {
  position: absolute;
  top: 120px;
  left: 540px;
}

div:nth-child(25) {
  position: absolute;
  top: 120px;
  left: 0px;
}

div:nth-child(35) {
  position: absolute;
  top: 180px;
  left: 0px;
}

div:nth-child(36) {
  position: absolute;
  top: 180px;
  left: 60px;
}
div:nth-child(37) {
  position: absolute;
  top: 180px;
  left: 120px;
}
div:nth-child(38) {
  position: absolute;
  top: 180px;
  left: 180px;
}
div:nth-child(39) {
  position: absolute;
  top: 180px;
  left: 240px;
}
div:nth-child(40) {
  position: absolute;
  top: 180px;
  left: 300px;
}
div:nth-child(41) {
  position: absolute;
  top: 180px;
  left: 360px;
}
div:nth-child(42) {
  position: absolute;
  top: 180px;
  left: 420px;
}
div:nth-child(43) {
  position: absolute;
  top: 180px;
  left: 480px;
}
div:nth-child(44) {
  position: absolute;
  top: 180px;
  left: 540px;
}

div:nth-child(45) {
  position: absolute;
  top: 240px;
  left: 0px;
}

div:nth-child(46) {
  position: absolute;
  top: 240px;
  left: 60px;
}
div:nth-child(47) {
  position: absolute;
  top: 240px;
  left: 120px;
}
div:nth-child(48) {
  position: absolute;
  top: 240px;
  left: 180px;
}
div:nth-child(49) {
  position: absolute;
  top: 240px;
  left: 240px;
}
div:nth-child(50) {
  position: absolute;
  top: 240px;
  left: 300px;
}
div:nth-child(51) {
  position: absolute;
  top: 240px;
  left: 360px;
}
div:nth-child(52) {
  position: absolute;
  top: 240px;
  left: 420px;
}
div:nth-child(53) {
  position: absolute;
  top: 240px;
  left: 480px;
}

div:nth-child(54) {
  position: absolute;
  top: 240px;
  left: 540px;
}

/***************************************************/
/* Responsive Design */

@media screen and (min-width: 786px) {
  body {
    display: block;
    font-size: 1.3em;
  }

  .nav-group {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  html {
    display: block;
    grid-template-columns: 20% 60% 20%;
    font-size: 1.7em;
  }

  .Badge {
    position: fixed;
    right: 0px;
    top: 0px;
  }
}

@media print {
  .Badge,
  .nav {
    display: none;
  }
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

body {
  --background-color: white;
  --page-text-color: black;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

.article-main-heading {
  position: relative;
  left: 1rem;
}

.article-main-content {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    grid-column-gap: 0rem;
  }
  .content-wrapper,
  .content-wrapper2 {
    margin-top: 4rem;
  }
}
